body {
	margin: 0;
	background-color: #FFFAF5;
	overflow: scroll;
}
.caixa-de-fora {
	display: flex;
	width: 100vw;
    height: 100vh;
	justify-content: center;
	align-items: center;
}
.caixa-de-dentro > img {
	display: flex;
    margin: auto;
	width: 50%;
    max-width: inherit;
}
.caixa-de-dentro > p {
	width: inherit;
	font-family: courier;
	line-height: 1.4;
	text-align: center;
	color: black;
	opacity: 0.7;
}
.botao {
	background-color: 5eb35a;
	border: none;
	color: white;
	padding: 0.5rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0.5rem;
	cursor: pointer; 
}


@media only screen and (max-width: 599px) {
	.caixa-de-dentro {
		width: 58vw;
		max-width: 600px;
	}
	.caixa-de-dentro > p {
		font-size: 1rem;
	}
	p.legenda{
		font-size: 0.5rem;
	}
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
	.caixa-de-dentro {
		width: 48vw;
		max-width: 600px;
	}
	.caixa-de-dentro > p {
		font-size: 1.25rem;
	}
	p.legenda{
		font-size: 0.75rem;
	}
}
@media only screen and (min-width: 900px) {
	.caixa-de-dentro {
		width: 24vw;
		max-width: 600px;
	}
	.caixa-de-dentro > p {
		font-size: 1.5rem;
	}
	p.legenda{
		font-size: 1rem;
	}
}
