@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	margin: 0;
	/*background-color: #FFFAF5;*/
	background-image: url("static/polen.jpg");
    background-repeat: repeat;
	overflow: scroll;
}
.caixa-de-fora {
	display: flex;
	width: 100vw;
    height: 100vh;
	justify-content: center;
	align-items: center;
}
.caixa-de-dentro > img {
	display: flex;
    margin: auto;
	width: 50%;
    max-width: inherit;
	mix-blend-mode: multiply;
}
.caixa-de-dentro > p, a {
	width: inherit;
	font-family: Courier Prime;
	line-height: 1.4;
	text-align: center;
}
.caixa-de-dentro > p {
	color: black;
	opacity: 0.7;
}
.caixa-de-dentro > a {
	display: inline-block;
	background-color: #5eb35a;
	color: white;
	text-decoration: none;
	padding: 1rem 0;
	margin: 1rem 0;
	cursor: pointer;
	mix-blend-mode: multiply;
}
p.legenda {
	font-style: italic;
}


@media only screen and (max-width: 599px) {
	.caixa-de-dentro {
		width: 58vw;
		max-width: 600px;
	}
	.caixa-de-dentro > p, a {
		font-size: 1.5rem;
	}
	p.legenda{
		font-size: 1rem;
	}
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
	.caixa-de-dentro {
		width: 48vw;
		max-width: 600px;
	}
	.caixa-de-dentro > p, a {
		font-size: 1.5rem;
	}
	p.legenda{
		font-size: 1rem;
	}
}
@media only screen and (min-width: 900px) {
	.caixa-de-dentro {
		width: 24vw;
		max-width: 600px;
	}
	.caixa-de-dentro > p, a {
		font-size: 1.5rem;
	}
	p.legenda{
		font-size: 1rem;
	}
}
